.logout-button {
  border: none;
  font-size: 16px;
  font-family: "Baloo 2", serif;
  background-color: white;
  border-radius: 5px;
  color: #312C80;
  margin-bottom: 18px;
  margin-top: 8px;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  border-radius: 5px;
}

.login-container input {
  width: 300px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid gray
}

.login-container input:hover {
  background-color: rgb(244, 244, 244);
}

.login-title {
  margin-top: 30px;
  font-family: "Baloo 2", serif;
  font-size: 25px;

}

.splash-login-button {
  width: 50%;
	height: 35px;
	background-color: #16CFFE;
	color: white;
	font-size: 20px;
	font-family: 'Baloo 2', serif;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  margin-top: 20px;
  margin-left: 85px;
}

.splash-login-button:hover {
  background-color: #16bce6
}
