@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap");


.splash-page-container {
  z-index: 1;
  display: flex;
  flex: row;
  background-color: #2F455c;
  justify-content: space-around;
  min-height: 800px;
  width: 100%;
}

.right-splash {
  z-index: 1;
  margin-top: 100px;
  margin-right: 100px;
  background-color: white;
  height: 500px;
  border-radius: 5px;
}

.splash-logo {
  z-index: 1;
  margin-top: 125px;
  margin-left: 50px;
  height: auto;
  width: 600px;
}

.or-img {
  width: 15em;
  height: auto;
  margin-left: 85px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.splash-demo-text {
  font-family: "Montserrat", sans-serif;
	color: gray;
  margin-left: 45px;
  margin-top: 35px;
}

.splash-demo-click-here {
  text-decoration: underline;
	color: #1eb59c;
	cursor: pointer;
}

.splash-text {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 24px;
  width: 500px;
  line-height: 30px;
  margin-left: 115px;
  margin-top: 20px;
}

.personal-info {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 250px;
  margin-top: 50px;

}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-right: 23px;
}

.icon-links i{
  color: white;
  margin-right: 20px;
  font-size: 20px;
}

.full-name {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 16px;
}
