@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap");


.user-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.poll-container {
  background-color: white;
  width: 400px;
  height: auto;
  border: 1px solid #6682a0;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.options-container {
  margin-top: 10px;
}

.options-container div {
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 3px;
  width: 300px;
}

.option-image {
  width: 200px;
  cursor: pointer;
}

.option-string {
  cursor: pointer;
}

.user-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.profile-pic {
  width: 100%;
  height: auto;
}

.poll-username {
  color: gray;
}
