@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap");


.navbar-container {
  position: fixed;
	top: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-around;
  align-items: center;
	background-color: #2F455C;;
  z-index: 100;
}

.left-nav {
	margin-left: 50px;
	padding: 5px;
}

.nav-logo {
	width: 9em;
	height: auto;
	padding: 3px;
	margin-left: 0px;
	margin-top: 7px;
}

.search-input {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  padding: 7px;
  width: 300px;
  border: .5px solid gray;
}

.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.profile-page-button {
  border: none;
  font-size: 16px;
  font-family: "Baloo 2", serif;
  background-color: white;
  border-radius: 5px;
  color: #312C80;
  margin-bottom: 18px;
  margin-top: 8px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}

.nav-profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  border: 2.5px solid #1eb59c;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  cursor: pointer;
}

.nav-profile-pic {
  width: 100%;
  height: auto;
}

.sidebar {
  position: fixed;
  top: 75px;
  bottom: 0;
  width: 275px;
  right: -330px;
  transition: all 0.2s linear;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 3px 1px rgb(120, 120, 120);
  z-index: 100;
}

.sidebar-container{
  margin-left: 5%;
  margin-top: 5%;
  z-index: 100;
}

.arrow-button{
  margin-left: 85%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 25px;
}

.fa-chevron-right {
  position: absolute;
  margin-right: 450px;
  margin-bottom: 50px;
}

.nav-user-profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-username {
  text-align: center;
  margin-top: 30px;
  margin-right: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color:#000000
}
